.App {
  text-align: center;
  margin: 3em auto;
  width: 90%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


input {
  display: block;
  font-size: 15px;
  height: 30;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

@media only screen and (min-width: 1280px) {
  .App {
      width: 1140px;
  }
}

.gif-modal {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gif-item {
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 20%;
}

.gif-item img {
  width: 100%;
}
